<div class="list_risks">
  <div class="risk">
    <h4>Académico <i class="fas fa-caret-down"></i></h4>
    <p>No presenta riesgos para está categoria</p>
    <i class="fas fa-id-badge"></i>
  </div>
  <div class="risk">
    <h4>Económico <i class="fas fa-caret-down"></i></h4>
    <p>No presenta riesgos para está categoria</p>
    <i class="fas fa-hand-holding-usd"></i>
  </div>
  <div class="risk">
    <h4>Individual <i class="fas fa-caret-down"></i></h4>
    <p>No presenta riesgos para está categoria</p>
    <i class="fas fa-male"></i>
  </div>
  <div class="risk">
    <h4>Institucional <i class="fas fa-caret-down"></i></h4>
    <p>No presenta riesgos para está categoria</p>
    <i class="fas fa-university"></i>
  </div>
</div>
