<div class="chat_container">
  <div class="chat">
    <div class="msg_in">
      <div class="text_in">Hola!! Buenos días</div>
      <p>Domingo 23 May; 09:32 AM</p>
    </div>
    <div class="msg_out">
      <div class="text_out">Buenos días Uribe...</div>
      <p>Domingo 23 May; 09:33 AM</p>
    </div>
    <div class="msg_in">
      <div class="text_in">¿Cómo se encuentra?</div>
      <p>Domingo 23 May; 09:34 AM</p>
    </div>
    <div class="msg_out">
      <div class="text_out">Muy Bien!</div>
      <p>Domingo 23 May; 09:35 AM</p>
    </div>
  </div>

  <div class="form_input">
    <input type="text" placeholder="Escriba su mensaje..." />
    <i class="fas fa-paper-plane pointer"></i>
  </div>
</div>
