<div class="chat_container">
  <div class="chat">
    <div
      *ngFor="let item of chat"
      [ngClass]="{ msg_out: code === item.transmitter.code }"
      class="msg_in"
    >
      <div class="text_in"><span>Niver Romero: </span>{{ item.message }}</div>
      <p>
        {{ item.date | date: "EEEE d MMM ; h:mm a" }}
      </p>
    </div>

    <!-- <div class="msg_in">
      <div class="text_in">Hola!! Buenos días</div>
      <p>Domingo 23 May; 09:32 AM</p>
    </div>
    <div class="msg_out">
      <div class="text_out">Buenos días Uribe...</div>
      <p>Domingo 23 May; 09:33 AM</p>
    </div> -->
  </div>

  <div class="form_input">
    <input type="text" placeholder="Escriba su mensaje..." />
    <i class="fas fa-paper-plane pointer"></i>
  </div>
</div>
