<div class="wrapper">
  <nav>
    <input type="checkbox" id="show-menu" #menuNavBar />
    <div class="content">
      <div class="logo">{{ title }}</div>
      <ul class="links">
        <li>
          <a
            (click)="closeMenu()"
            routerLink="/vicerrector/postulados"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Ver postulados</a
          >
        </li>
        <li><a (click)="closeMenu()" href="#">Crear Reportes</a></li>
        <li><a class="pointer" (click)="logout()">Salir</a></li>
      </ul>
    </div>
    <label for="show-menu" class="menu-icon"
      ><i class="fas fa-bars fa-fw"></i
    ></label>
  </nav>
</div>
