<div class="wrapper_faculties">
  <h1>Ingeniería de Sistemas</h1>
  <div class="form_input">
    <input
      type="text"
      placeholder="Buscar estudiante"
      id="search"
      name="search"
    />
    <i class="fas fa-search fa-fw"></i>
  </div>

  <div class="row_header">
    <app-statistics-risk></app-statistics-risk>
  </div>

  <div class="list_semester">
    <ul>
      <li
        *ngFor="
          let item of [
            'I',
            'II',
            'III',
            'IV',
            'V',
            'VI',
            'VII',
            'VIII',
            'IX',
            'X'
          ]
        "
        routerLink="/vicerrector/semestre"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Semestre {{ item }}
      </li>
    </ul>
  </div>
</div>
