<div class="content">
  <div class="title_icon">
    <div class="title">
      <h1>SocioEconomico</h1>
    </div>
    <div class="icon"><h4>98%</h4></div>
  </div>
  <h4>Paso 1</h4>
  <button (click)="ShowDateNotification()" class="button">
    Notificar Estudiante
  </button>
  <h4>Paso 2</h4>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of servicesWellnesslist">
        <td>{{ item.num }}</td>
        <td>{{ item.name }}</td>
        <td><i class="fas {{ item.icon }} "></i></td>
      </tr>
    </tbody>
  </table>
  <div class="frame">
    <div class="heade_title">
      <h3>Recomendaciones</h3>
    </div>
    <textarea class="recommendations"></textarea>
  </div>
  <button class="button">Seguimiento</button>
</div>
<app-notification-date
  *ngIf="showDate"
  (isClosed)="ShowDateNotification($event)"
></app-notification-date>
