<div class="content">
  <h1>Informacion de Permanencia</h1>
  <div class="dates">
    <div class="name_value">
      <h3>Fecha de ingreso:</h3>
      <p>08 Junio, 2018</p>
    </div>
    <div class="name_value">
      <h3>Estado:</h3>
      <p>Activo</p>
    </div>
    <div class="name_value">
      <h3>Semestres cursados:</h3>
      <p>6</p>
    </div>
    <div class="name_value">
      <h3>Riesgo:</h3>
      <p>Critico</p>
    </div>
  </div>

  <h2>Periodos Cursados</h2>
  <hr />
  <div class="content_table">
    <div class="table">
      <div class="comulun">
        <h5>2021-I</h5>
        <div class="activate">
          <i class="fas fa-check"></i>
        </div>
        <div class="average">
          <div class="one"></div>
        </div>
      </div>
      <div class="comulun">
        <h5>2020-II</h5>
        <div class="activate">
          <i class="fas fa-check"></i>
        </div>
        <div class="average">
          <div class="two"></div>
        </div>
      </div>
      <div class="comulun">
        <h5>2020-I</h5>
        <div class="activate">
          <i class="fas fa-check"></i>
        </div>
        <div class="average">
          <div class="three"></div>
        </div>
      </div>
      <div class="comulun">
        <h5>2019-II</h5>
        <div class="activate">
          <i class="fas fa-times"></i>
        </div>
        <div class="average">
          <div class="four"></div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <h2>Para tener en cuenta</h2>
  <div class="option">
    <p>Matriculado</p>
    <p><i class="fas fa-check"></i></p>
    <p>Cancelado</p>
    <p><i class="fas fa-times"></i></p>
  </div>

  <div class="dates_role">
    <div class="role">
      <h3>Su promedio fue mayor 4</h3>
      <p class="one"></p>
    </div>

    <div class="role">
      <h3>Su promedio fue entre 3 y 3.9</h3>
      <p class="two"></p>
    </div>

    <div class="role">
      <h3>Su promedio fue entre 0 y 2.9</h3>
      <p class="three"></p>
    </div>

    <div class="role">
      <h3>Sin promedio en ese semestre</h3>
      <p class="four"></p>
    </div>
  </div>
</div>
