<div class="content">
  <h1>Base de datos - B</h1>
  <div class="home">
    <div class="semester_credits">
      <div class="semester">
        <h4>Semestre</h4>
        <p>5</p>
      </div>
      <div class="credits">
        <h4>Credito</h4>
        <p>4</p>
      </div>
    </div>
    <div class="teachear_schedule">
      <div class="teacher">
        <div class="title">
          <h4>Docente: &nbsp; </h4>
        </div>
        <div class="date">
          <p>Carlos Rene Angarita</p>
        </div>
      </div>
      <div class="shedule">
        <div class="title">
          <h4>Horario: &nbsp;  </h4>
        </div>
        <div class="date">
          <p>lunes de 8am-10am</p>
          <p>Viernes de 8am-10am</p>
        </div>
      </div>
    </div>
  </div>
  <div class="notes">
    <div class="course">
      <div class="title_course">
        <h3>Primer previo</h3>
      </div>
      <div class="qualification">
        <p>3.5</p>
      </div>
    </div>
    <div class="course">
      <div class="title_course">
        <h3>Segundo Previo</h3>
      </div>
      <div class="qualification">
        <p>3.5</p>
      </div>
    </div>
    <div class="course">
      <div class="title_course">
        <h3>Tercer Previo</h3>
      </div>
      <div class="qualification">
        <p>3.5</p>
      </div>
    </div>
    <div class="course">
      <div class="title_course">
        <h3>Examen Final</h3>
      </div>
      <div class="qualification">
        <p>3.5</p>
      </div>
    </div>
  </div>
  <p class="text">
    El estudiante ha asistido a un <b>50%</b> de las clases dictadas de lo
    corrido en el semestre actual.
  </p>
  <p class="text">Para un total de asistencia de <b>10/20</b></p>
</div>
