<div class="content">
  <h1>Base de datos - B</h1>
  <div class="home">
    <div class="semester_credits">
      <div class="semester">
        <h4>Semestre</h4>
        <p>5</p>
      </div>
      <div class="credits">
        <h4>Credito</h4>
        <p>4</p>
      </div>
    </div>
    <div class="teachear_schedule">
      <div class="teacher">
        <div class="title">
          <h4>Docente: &nbsp;</h4>
        </div>
        <div class="date">
          <p>Carlos Rene Angarita</p>
        </div>
      </div>
      <div class="shedule">
        <div class="title">
          <h4>Horario: &nbsp;</h4>
        </div>
        <div class="date">
          <p>lunes de 8am-10am</p>
          <p>Viernes de 8am-10am</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="line" />
  <h3 class="title_qualification">Calificaciónes</h3>
  <div class="notes">
    <div class="course">
      <div class="title_course">
        <h3>1P</h3>
      </div>
      <div class="qualification1">
        <p></p>
      </div>
    </div>
    <div class="course">
      <div class="title_course">
        <h3>2P</h3>
      </div>
      <div class="qualification2">
        <p></p>
      </div>
    </div>
    <div class="course">
      <div class="title_course">
        <h3>3P</h3>
      </div>
      <div class="qualification3">
        <p></p>
      </div>
    </div>
    <div class="course">
      <div class="title_course">
        <h3>EX</h3>
      </div>
      <div class="qualification4">
        <p></p>
      </div>
    </div>
  </div>
</div>
