<div class="wrapper_faculties">
  <h1>Listado de facultades</h1>
  <form [formGroup]="formSearch" (submit)="onSubmit()" class="form_input">
    <input
      type="text"
      placeholder="Buscar estudiante (Código | Correo)"
      id="filter"
      name="filter"
      formControlName="filter"
    />
    <i
      *ngIf="!loadingSearch"
      class="fas fa-search fa-fw pointer"
      (click)="onSubmit()"
    ></i>
    <i *ngIf="loadingSearch" class="fas fa-spinner fa-spin fa-fw"></i>
  </form>

  <div class="row_header">
    <app-statistics-risk></app-statistics-risk>
  </div>

  <div class="accordion">
    <app-loading *ngIf="loading"></app-loading>
    <div class="item" *ngFor="let facultie of faculties; let i = index">
      <input type="checkbox" name="accordion" id="item-{{ i + 1 }}" />
      <label for="item-{{ i + 1 }}">{{ facultie.nombre }}</label>
      <div>
        <ul>
          <li
            *ngFor="let program of facultie.programas"
            routerLink="/vicerrector/semestres/programa/{{ program }}"
          >
            {{ program }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
