<div class="wrapper_faculties">
  <h1>Listado de facultades</h1>
  <div class="form_input">
    <input type="text" placeholder="Buscar" id="search" name="search" />
    <i class="fas fa-search fa-fw"></i>
  </div>
  <div class="statistics">
    <div class="mild">
      <h3>1</h3>
      <p>Leve</p>
    </div>
    <div class="moderate">
      <h3>2</h3>
      <p>Moderado</p>
    </div>
    <div class="critical pointer" (click)="goToInRisk()">
      <h3>3</h3>
      <p>Crítico</p>
    </div>
  </div>

  <div class="accordion">
    <div class="item">
      <input type="checkbox" name="accordion" id="item-1" />
      <label for="item-1">Ingenierías</label>
      <div>
        <ul>
          <li routerLink="/vicerrector/semestres">Ingeniería de Sistemas</li>
          <li>Ingeniería Civil</li>
          <li>Ingeniería Electrónica</li>
          <li>Ingeniería Electrómecanica</li>
        </ul>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-2" />
      <label for="item-2">Ciencias de la salud</label>
      <div>
        <ul>
          <li>Enfermería</li>
          <li>Seguridad y Salud en el Trabajo</li>
          <li>Tecnología de Regencia en Farmacia</li>
        </ul>
      </div>
    </div>

    <div class="item">
      <input type="checkbox" name="accordion" id="item-3" />
      <label for="item-3">Educación, artes y humanidades</label>
      <div>
        <ul>
          <li>Comunicación social</li>
          <li>Trabajo social</li>
          <li>Derecho</li>
          <li>Arquitectura</li>
        </ul>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-4" />
      <label for="item-4">Ciencias agrarias y del ambiente</label>
      <div>
        <ul>
          <li>Ingeniería Agroindustrial</li>
          <li>Ingeniería Agronómica</li>
          <li>Ingeniería Ambiental</li>
          <li>Ingeniería Biotecnológica</li>
          <li>Zootecnia</li>
        </ul>
      </div>
    </div>
  </div>
</div>
