<div class="wrapper_faculties animate__animated animate__fadeIn">
  <h1>Listado de facultades</h1>
  <div class="form_input">
    <input
      type="text"
      placeholder="Buscar estudiante"
      id="search"
      name="search"
    />
    <i class="fas fa-search fa-fw"></i>
  </div>

  <div class="row_header">
    <app-statistics-risk></app-statistics-risk>
  </div>

  <div class="accordion">
    <app-loading *ngIf="loading"></app-loading>
    <div class="item" *ngFor="let facultie of faculties; let i = index">
      <input type="checkbox" name="accordion" id="item-{{ i + 1 }}" />
      <label for="item-{{ i + 1 }}">{{ facultie.nombre }}</label>
      <div>
        <ul>
          <li
            *ngFor="let program of facultie.programas"
            routerLink="/vicerrector/semestres/programa/{{ program }}"
          >
            {{ program }}
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="item">
      <input type="checkbox" name="accordion" id="item-2" />
      <label for="item-2">Ciencias de la salud</label>
      <div>
        <ul>
          <li>Enfermería</li>
          <li>Seguridad y Salud en el Trabajo</li>
          <li>Tecnología de Regencia en Farmacia</li>
        </ul>
      </div>
    </div>

    <div class="item">
      <input type="checkbox" name="accordion" id="item-3" />
      <label for="item-3">Educación, artes y humanidades</label>
      <div>
        <ul>
          <li>Comunicación social</li>
          <li>Trabajo social</li>
          <li>Derecho</li>
          <li>Arquitectura</li>
        </ul>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-4" />
      <label for="item-4">Ciencias agrarias y del ambiente</label>
      <div>
        <ul>
          <li>Ingeniería Agroindustrial</li>
          <li>Ingeniería Agronómica</li>
          <li>Ingeniería Ambiental</li>
          <li>Ingeniería Biotecnológica</li>
          <li>Zootecnia</li>
        </ul>
      </div>
    </div> -->
  </div>
</div>
