<div class="profile_academy">
  <div *ngIf="user?.rol === 'vicerrector'" class="wrapper_course">
    <h5>Materias que se encuentran activas durante el semestre actual.</h5>
    <div class="list_courses pointer">
      <app-item-course-assistance
        (click)="onNavigateToCourseData()"
        *ngFor="let course of listCourse"
        [course]="course"
      ></app-item-course-assistance>
    </div>
  </div>
  <p>Se muestran los promedios academicos del estudiante:</p>
  <div class="date_start">
    <h4>Fecha de ingreso a la Universidad :</h4>
    <p>{{ user?.fechaIngreso | date: "dd MMMM yyyy" }}</p>
  </div>
  <div class="info_academy">
    <p>
      <span class="name_date">promedio Ponderado Acomulado </span>
      <span>{{ user?.promedioPonderadoAcomulado }}</span>
    </p>
    <p>
      <span class="name_date">Créditos aprobados</span>
      <span>{{ user?.creditosAprobados }}</span>
    </p>
    <p title="Promedio ponderado acomulado actual">
      <span>Promedio acomulado</span> <span>{{ user?.promedio }}</span>
    </p>
    <p>
      <span class="name_date">Créditos totales actuales</span
      ><span>{{ user?.creditosTotales }}</span>
    </p>
  </div>
</div>
