<div class="profile_academy">
  <p>Se muestran los promedios academicos del estudiante:</p>
  <div class="date_start">
    <h4>Fecha de ingreso a la Universidad :</h4>
    <p>23 Agosto de 2013</p>
  </div>
  <div class="info_academy">
    <p><span>Promedio calculado total </span><span>3.5</span></p>
    <p><span>Créditos aprobados</span> <span>132</span></p>
    <p title="Promedio ponderado acomulado actual">
      <span>Promedio acomulado</span> <span>3.4</span>
    </p>
    <p><span>Créditos totales actuales</span><span>141</span></p>
  </div>
</div>
