.content {
  text-align: center;
}
.title {
  display: flex;
  margin: 10px;
}
.title h1 {
  font-weight: bold;
  font-size: 25px;
}
.title i {
  font-weight: bold;
  font-size: 25px;
  width: 30px;
  margin-right: 48px;
  padding-top: 7px;
  color: var(--red-primary-color);
}
.search {
  background: var(--gray-menu);
  margin: 16px 32px;
  height: 32px;
  padding: 5px;
  text-align: left;
  border-radius: 16px;
}
.search h3 {
  font-size: 16px;
  color: var(--gray-table);
}
.search i {
  font-size: 16px;
  color: var(--red-primary-color);
  margin: 0px 10px;
}
h4 {
  margin: 16px;
  font-size: 14px;
  text-align: left;
  color: var(--gray-dark-color);
}
/* Tablet and Desktop */
@media (min-width: 768px) {
  .content {
    text-align: center;
    margin: 32px;

  }
  .title h1 {
    font-size: 40px;
  
  }
  .title i {
    font-size: 25px;
    padding: 20px;
    margin-right: 150px;
  }
  .search {
    height: 64px;
    border-radius: 32px;
  }
  .search h3 {
    padding: 10px;
    font-size: 24px;
  }
  h4 {
    margin: 10px 50px;
    font-size: 28px;
    width: 600px;
  }
}
/* Desktop */
@media (min-width: 1152px) {
    .content {
        text-align: center;
        margin: 16px;
      }
      .title h1 {
        font-size: 51px;
      }
      .title i {
        font-size: 25px;
        padding: 20px;
        margin-right: 450px;
      }
      .search {
        height: 64px;
        width: 700px;
        border-radius: 32px;
        margin: 48px 350px;
      }
      
      h4 {
        margin: 48px 300px;
        width: 850px;
        text-align: left;
      }
}
