.postulation {
  margin: 5px;
  padding: 0 8px;
  text-align: justify;
  background: var(--green-primary-color);
  color: white;
}

.postulation p {
  font-size: 14px;
}

.postulation span {
  font-weight: bold;
  font-size: 12px;
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1151px) {
  .postulation * {
    font-size: 20px !important;
  }
}
