<div class="wrapper_binnacle">
  <div class="binnacle">
    <h3>Bitácora estudiante</h3>
    <div class="binnacle-text">
      Aquí va un historial Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Culpa beatae facere, voluptate soluta enim ea voluptates rem a,
      ipsum praesentium ad neque. Commodi deserunt dolores cupiditate
      temporibus. Soluta, deserunt et. Vitae recusandae consectetur quas odio
      delectus consequatur tenetur, obcaecati quod quidem perferendis nobis
      corporis neque quisquam, eos ipsam adipisci quaerat ex minima molestias
      suscipit quis. At voluptatibus harum corrupti odit. Iure ullam error cum.
      Soluta suscipit adipisci minus porro temporibus voluptate ipsam
      laboriosam, excepturi molestiae fuga accusamus quas, aperiam commodi
      libero consequatur nobis nostrum dolorem earum in doloribus qui quos.
      Corporis itaque assumenda dicta! Ea odio nisi magni sunt voluptas
      inventore necessitatibus iste laudantium doloremque ad dolores,
      voluptatibus repudiandae molestias cum. Veritatis quidem maiores assumenda
      quos provident error nisi alias? Consectetur officiis maxime fuga ducimus
      accusamus a veritatis dignissimos enim illum tempora quia voluptates
      labore nisi error, aliquid impedit molestias quam dolore doloremque optio
      eveniet commodi quod? Quibusdam, reprehenderit asperiores. Asperiores at
      cumque esse est commodi harum quod totam assumenda, aspernatur ipsum quasi
      excepturi non saepe cupiditate similique sed ab inventore cum praesentium
      illum pariatur provident quas adipisci. Porro, excepturi. Reiciendis ad
      aliquam explicabo reprehenderit quisquam et ut porro aperiam, accusantium
      magnam officiis nostrum cum soluta, similique cupiditate est in odit.
      Nisi, nam accusamus praesentium magni necessitatibus nihil esse aliquid?
      Quos dicta, optio, praesentium officiis architecto error illum voluptas
      doloribus magnam animi, veritatis laudantium et. Ut quisquam est
      consequatur tenetur enim fugiat eaque veniam debitis, earum quaerat, illo
      saepe necessitatibus. Ut porro consectetur suscipit aliquam rerum, modi
      eius fugiat a quisquam est mollitia temporibus, rem dolor cum delectus
      saepe maiores commodi inventore odio, tempora sapiente? Quis qui laborum
      iure beatae. Hic aperiam, porro ipsam officiis ratione veritatis quia
      consequatur ducimus voluptatem in ipsum repellendus ea neque, iure a
      commodi sit repellat possimus iste? Recusandae fugiat consequuntur
      inventore nobis molestias amet? Consectetur obcaecati dolorem enim soluta
      eaque officia itaque rerum ut, nulla ea, modi laudantium corporis harum
      culpa qui dolor beatae quas atque deleniti nisi voluptatum. Magnam
      voluptatem consequuntur est dolorem? Odio aut, cumque officiis tempora
      recusandae, repellendus maiores eveniet dolores ipsum repellat possimus
      dignissimos ipsam sint provident corrupti. Atque culpa omnis at dicta
      labore nobis nisi esse nam inventore earum? Commodi maxime atque eveniet
      possimus minima velit recusandae amet, repellat accusamus voluptatem minus
      eos deleniti laborum ipsam, similique perspiciatis, fugiat magnam et
      dolore provident expedita tenetur earum! Laudantium, soluta cum? Esse
      earum saepe quasi quia, dolores ipsa fugiat, illum fugit at similique quod
      error sapiente ex assumenda harum pariatur doloremque? Adipisci, in!
      Facere aut dicta suscipit unde quo doloremque necessitatibus?
      Necessitatibus natus maxime aut nemo commodi numquam sed ab totam velit
      officia minima earum dolores enim tenetur minus reiciendis inventore
      excepturi suscipit voluptatum cum harum, possimus ratione. Veritatis,
      dolorum vel. Molestias nemo est consequuntur delectus? Tenetur sunt
      dolores expedita est officiis. Perferendis, aspernatur repudiandae unde
      aperiam impedit eveniet, cumque pariatur minus voluptatem beatae illum.
      Non deleniti mollitia harum aliquam! Neque. Eius quam necessitatibus
      voluptas laboriosam consectetur, quod velit perferendis quo ratione harum
      repellat tempora eaque quidem eligendi nesciunt ut vitae a? Magni fuga
      deserunt numquam sint unde ratione error porro? Rem pariatur amet
      voluptatibus ut suscipit similique quaerat reiciendis. Vel laudantium
      earum, sint incidunt voluptate fugiat neque facere ut, mollitia quae
      molestiae, consectetur expedita architecto consequuntur adipisci commodi!
      Totam, accusamus. Culpa mollitia obcaecati eaque qui odio labore enim
      accusantium tempore inventore ducimus, nemo, illo molestiae numquam!
      Distinctio quisquam aliquam facere quod deserunt, suscipit hic, maiores
      magnam praesentium vitae exercitationem et. Id iusto rem similique odit
      recusandae nemo dicta error laudantium modi voluptatem reiciendis itaque
      provident, nesciunt cumque non quia. Sint placeat hic culpa consectetur
      soluta repudiandae, excepturi aspernatur libero atque!
    </div>
  </div>

  <div class="recommendation">
    <div class="textarea">
      <label for="recommendation">Recomendaciones</label>
      <textarea
        id="recommendation"
        placeholder="Escriba el texto aquí"
      ></textarea>
    </div>
  </div>

  <button>Guardar cambios <i class="fas fa-save"></i></button>
</div>
