h3 {
  font-weight: bold;
  font-size: 20px;
}

textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border: 2px solid black;
  height: 150px;
}

.wrapper_binnacle {
  margin: 32px 16px;
  text-align: center;
}

.binnacle-text {
  margin: 16px 0;
  height: 250px;
  text-align: justify;
  background: var(--gray-menu);
  padding: 16px;
  overflow-y: scroll;
}

.textarea {
  position: relative;
  width: 100%;
}

.textarea label {
  position: absolute;
  background: white;
  top: -16px;
  left: 32px;
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
}

button {
  background: var(--green-primary-color);
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1151px) {
  .wrapper_binnacle {
    margin: 32px 80px;
    text-align: center;
  }

  .binnacle,
  .recommendation,
  button {
    margin-top: 32px;
  }
}

/* Desktop */

@media (min-width: 1152px) {
  .binnacle textarea {
    height: 100px;
  }

  .recommendation {
    margin-top: 32px;
  }

  .binnacle-text {
    height: 220px;
  }
}
