<div class="wrapper_binnacle">
  <h3>Asistencia</h3>
  <div class="quote_options">
    <div class="yes">
      <label for="option_yes">SI</label>
      <input type="radio" checked name="option" id="option_yes" />
    </div>
    <div class="not">
      <label for="option_not">NO</label>
      <input type="radio" name="option" id="option_not" />
    </div>
  </div>

  <div class="binnacle">
    <h3>Bitácora estudiante</h3>
    <textarea name="binnacle" disabled>Aquí va un historial</textarea>
  </div>

  <div class="recommendation">
    <div class="textarea">
      <label for="recommendation">Recomendaciones</label>
      <textarea id="recommendation"></textarea>
    </div>
  </div>

  <button>Guardar cambios <i class="fas fa-save"></i></button>
</div>
