<div
  class="wrapper_binnacle"
  [ngClass]="{ show: role !== 'psicologo' || !show }"
>
  <div class="binnacle">
    <h3>
      Bitácora estudiante
      <i
        *ngIf="role === 'psicologo'"
        class="far fa-edit red pointer"
        (click)="show = !show"
      ></i>
    </h3>
    <div class="binnacle-text">
      <div class="text" *ngFor="let item of binnacle">
        <p>
          <span>{{ item.role | uppercase }}:</span> {{ item.text }}
          <i class="fas fa-check-circle red"></i>
        </p>
        <blockquote>
          {{ item.date | date: "EEEE d MMMM 'del' y, hh:mm a" }}
          <i class="fas fa-clock red"></i>
        </blockquote>
        <hr />
      </div>
    </div>

    <form
      class="recommendation"
      *ngIf="role === 'psicologo' && show"
      [formGroup]="formBinnacle"
      (submit)="onSubmit()"
    >
      <div class="textarea">
        <label for="recommendation">Recomendaciones</label>
        <textarea
          id="text"
          placeholder="Escriba el texto aquí"
          formControlName="text"
          name="text"
        ></textarea>
      </div>
      <button [disabled]="formBinnacle.invalid" type="submit">
        Guardar cambios <i class="fas fa-save"></i>
      </button>
    </form>
  </div>
</div>
