<input type="checkbox" id="floating" #checkboxNotification />
<div
  class="notifications"
  [ngClass]="{ animate_button: unread > 0 || counter > 0 }"
>
  <label for="floating"><i class="fas fa-bell"></i></label>
</div>
<div class="list_notification">
  <h4>Notificaciones</h4>
  <hr />
  <ul>
    <li *ngIf="!notification.length && counter === 0">
      No tiene notificaciones
    </li>
    <li *ngIf="role === 'jefe' && counter > 0" class="pointer no_read">
      <div (click)="toPostulation()">
        <p>Tiene {{ counter }} postulaciones Sin Atender</p>
        <span
          ><i class="fas fa-clock red"></i>
          Hoy
        </span>
      </div>
    </li>
    <li
      *ngFor="let item of notification"
      fragment="contenedor"
      class="pointer"
      [ngClass]="{ no_read: item.isActive }"
    >
      <div (click)="closeButton(item)">
        <p>{{ item.title }}</p>
        <span
          ><i class="fas fa-clock red"></i>
          {{ item.date | date: " h:mm a" }}
        </span>
      </div>
      <i
        (click)="deleteNotificatio(item._id.$oid)"
        class="fas fa-trash-alt"
      ></i>
    </li>
  </ul>
</div>
