<input type="checkbox" id="floating" #checkboxNotification />
<div class="notifications animate_button">
  <label for="floating"><i class="fas fa-bell"></i></label>
</div>
<div class="list_notification">
  <h4>Notificaciones</h4>
  <hr />
  <ul>
    <li
      (click)="closeButton()"
      routerLink="/estudiante/reunion"
      fragment="contenedor"
      class="no_read pointer"
    >
      <p>Ha recibido una solicitud de reunión</p>
      <span><i class="fas fa-clock red"></i> 08:45 AM</span>
    </li>
    <li (click)="closeButton()" class="pointer">
      <p>Ha recibido un mensaje</p>
      <span><i class="fas fa-clock red"></i> 10:45 AM</span>
    </li>
    <li (click)="closeButton()" class="pointer">
      <p>Ha sido ubicado en la lista de riesgo crítico</p>
      <span><i class="fas fa-clock red"></i> 02:45 PM</span>
    </li>
  </ul>
</div>
