<br />
<div class="wrapper_record">
  <div class="risks_options">
    <div class="risk_option risk_active pointer">
      <h4>Riesgo <span>Socieconómico</span></h4>
    </div>
    <div class="risk_option pointer">
      <h4>Riesgo <span>Académico</span></h4>
    </div>
    <div class="risk_option pointer">
      <h4>Riesgo <span>Institucional</span></h4>
    </div>
    <div class="risk_option pointer">
      <h4>Riesgo <span>Individual</span></h4>
    </div>
  </div>
  <div class="scrollable">
    <div class="timeline" id="timeline">
      <div class="center-line">
        <a href="/estudiante/ver-historial#timeline" class="scroll-icon pointer"
          ><i class="fas fa-caret-up"></i
        ></a>
      </div>

      <div class="row row-1">
        <section>
          <i class="icon fas fa-briefcase"></i>
          <div class="details">
            <span class="title">Beca trabajo</span>
            <span>2021</span>
          </div>
          <p>Ayuda con una parte del porcentaje de la matricula</p>
          <div class="bottom">
            <a class="pointer" title="Semestres activos">1</a>
            <i> 24 May - Actual</i>
          </div>
        </section>
      </div>

      <div class="row row-2">
        <section>
          <i class="icon fas fa-utensils"></i>
          <div class="details">
            <span class="title">Servicio de restaurante</span>
            <span>2020</span>
          </div>
          <p>Ayuda de alimentación saludable</p>
          <div class="bottom">
            <a title="Semestres activos">2</a>
            <i> 25 Feb - 23 Dic</i>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
