.table_students {
  margin-top: 16px;
  background: var(--gray-menu);
  text-align: center;
  width: 90vw;
  overflow: scroll;
}

.table_students table {
  width: 480px;
}

.table_students table thead tr th {
  font-size: 14px;
  font-weight: bold;
}

.table_students table tbody tr td {
  font-size: 12px;
  padding: 1px 0;
}

.table_students table tbody tr:hover {
  background: rgba(128, 128, 128, 0.267);
}

.download {
  font-size: 16px;
  position: absolute;
  right: 16px;
  margin-top: 16px;
}

/* Tablet */

@media (min-width: 768px) {
  .table_students table thead tr th {
    font-size: 22px;
  }

  .table_students {
    width: 96vw;
  }
  .table_students table {
    width: 730px;
  }
  .table_students table tbody tr td {
    font-size: 20px;
  }

  .download {
    font-size: 22px;
    right: 32px;
  }
}

/* Desktop */

@media (min-width: 1152px) {
  .table_students {
    width: 95vw;
    margin: 0px 16px;
  }
  .table_students table {
    width: 1220px;
  }

  .download {
    font-size: 22px;
    right: 32px;
  }
}
