.table_students {
  margin-top: 32px;
  background: var(--gray-menu);
  text-align: center;
}

.table_students table {
  width: 100%;
}

.table_students table thead tr th {
  font-size: 14px;
  font-weight: bold;
}

.table_students table tbody tr td {
  font-size: 12px;
  padding: 8px 0;
}

.table_students table tbody tr:hover {
  background: rgba(128, 128, 128, 0.267);
}

.download {
  font-size: 16px;
  position: absolute;
  right: 16px;
  margin-top: 16px;
}

.filter {
  position: relative;
}

.options {
  position: absolute;
  list-style: none;
  background: var(--gray-dark-color);
  padding: 16px;
  border: 1px solid var(--dark-color);
}

.options li {
  font-size: 14px;
  margin: 4px 0px;
  cursor: pointer;
}

.options li:hover {
  font-weight: bold;
}

/* Tablet */

@media (min-width: 768px) {
  .table_students table thead tr th {
    font-size: 22px;
  }

  .table_students table tbody tr td {
    font-size: 20px;
  }

  .download {
    font-size: 22px;
    right: 32px;
  }

  .options li {
    font-size: 20px;
  }
}

/* Desktop */

@media (min-width: 1152px) {
  .table_students {
    margin-top: 0;
    overflow: scroll;
    height: 280px;
  }

  .download {
    font-size: 22px;
    right: 32px;
  }

  .options {
    width: 100%;
  }

  .options li {
    font-size: 20px;
  }
}
