<div class="table_students">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Código</th>
        <th>Nombre</th>
        <th class="pointer">
          Riesgo <i class="fas fa-long-arrow-alt-up"></i
          ><i class="fas fa-long-arrow-alt-down"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading">
        <td colspan="4">
          <app-loading></app-loading>
        </td>
      </tr>
      <ng-container *ngIf="!loading">
        <tr
          class="pointer"
          *ngFor="
            let student of listStudents | filterStudent: filter;
            let i = index
          "
          (click)="navigateToStudent(student)"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ student.codigo }}</td>
          <td>{{ student.nombre }} {{ student.apellido }}</td>
          <td><i class="fas fa-circle red"></i></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<a href="#" *ngIf="!loading" class="download"
  >Descargar <i class="fas fa-download"></i
></a>
