<div class="container">
  <div class="content">
    <h2>Reunión</h2>
    <div class="date_icon">
      <div class="icon">
        <i class="d fas fa-users"></i>
      </div>
      <div class="date">
        <h5>Fecha: <span>23-mayo-2021</span></h5>
        <h5>Hora:<span> 8am a 9am</span></h5>
        <h5>Lugar:<span> BienestarUniversiatario</span></h5>
      </div>
    </div>
    <h3>Asistir</h3>
    <div class="buttons">
      <button type="submit">No</button>
      <button class="b2" type="submit">Si</button>
    </div>
  </div>
</div>
