.content {
  width: 240px;
  margin: 40px;
  background: var(--gray-menu);
  border-radius: 25px;
  text-align: center;
}
h2 {
  padding: 10px;
  font-weight: bold;
}

.date_icon {
  display: flex;
  width: 240px;
  height: 100px;
}
.date {
  width: 160px;
  height: 100px;
  text-align: left;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100px;
}
.icon i {
  background: var(--red-primary-color);
  width: 51px;
  height: 51px;
  border-radius: 30px;
  color: white;
  line-height: 50px;
  font-size: 31px;
}
h3 {
  margin: 10px;
  font-weight: bold;
}

.buttons {
  display: flex;
  padding: 16px;
}

.asist {
  margin-top: 32px;
}

button {
  margin: 0px 10px;
  width: 200px;
  height: 30px;
  border-radius: 25px;
}
h5 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 13px;
}
h5 span {
  margin: 0px;
  font-size: 12px;
}

.role {
  text-transform: uppercase;
}

.b2 {
  background: var(--green-primary-color);
}
/* Tablet */

@media (min-width: 768px) and (max-width: 1151px) {
  .content {
    width: 422px;
    margin: 20px 184px;
    border-radius: 35px;
  }
  h2 {
    font-size: 35px;
  }
  .date_icon {
    display: flex;
    width: 422px;
    height: 150px;
  }
  .date {
    width: 260px;
    height: 150px;
    text-align: left;
  }
  .icon {
    width: 180px;
    height: 150px;
  }
  .icon i {
    width: 90px;
    height: 90px;
    border-radius: 60px;
    line-height: 80px;
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
    margin: 15px;
    font-weight: bold;
  }

  button {
    margin: 0px 10px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
  }
  h5 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 22px;
  }
  h5 span {
    font-size: 22px;
  }
}

/* Desktop */

@media (min-width: 1152px) {
  .container {
    height: 350px;
  }
  .content {
    width: 500px;
    margin: 0 100px;
    border-radius: 35px;
  }
  h2 {
    font-size: 35px;
  }
  .date_icon {
    display: flex;
    width: 500px;
    height: 150px;
  }
  .date {
    width: 280px;
    height: 150px;
    text-align: left;
  }
  .icon {
    width: 220px;
    height: 150px;
  }
  .icon i {
    width: 90px;
    height: 90px;
    border-radius: 60px;
    line-height: 80px;
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
    margin: 20px;
    font-weight: bold;
  }

  button {
    margin: 0px 40px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
  }
  h5 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 22px;
  }
  h5 span {
    margin: 0px;
    font-size: 22px;
  }
}
