<app-loading *ngIf="loading"></app-loading>

<div class="container" *ngIf="!loading && meet">
  <div class="content">
    <h2>Reunión</h2>
    <div class="date_icon">
      <div class="icon">
        <i class="d fas fa-users"></i>
      </div>
      <div class="date">
        <h5>
          Fecha: <span>{{ meet.dateFormat }}</span>
        </h5>
        <h5>
          Con:<span class="role"> {{ meet.role }}</span>
        </h5>
        <h5>
          Lugar:<span> {{ meet.ubication }}</span>
        </h5>
      </div>
    </div>
    <div>
      <h3 class="asist">Asistir</h3>
      <div class="buttons">
        <button (click)="accept(false)">No</button>
        <button (click)="accept(true)" class="b2">Si</button>
      </div>
    </div>
  </div>
</div>
