.content {
  max-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background: var(--gray-color);
}

h1 {
  font-size: 44px;
  color: var(--dark-color);
  font-weight: 700;
  margin-top: -16px;
}

.auth_container {
  text-align: center;
}

.auth_header {
  margin-top: 16px;
}

.auth_header p {
  color: #a79e95;
}

.auth_roles {
  margin: 32px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_roles img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  object-fit: cover;
}

.auth_roles select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  font-size: 20px;
  cursor: pointer;
}

.auth_roles select option {
  text-align: center;
}

.auth_roles select:focus {
  outline: none;
}

.copyright {
  color: var(--red-primary-color);
  font-size: 10px;
}

.ilustration {
  visibility: hidden;
}

.fa-eye:hover,
.fa-eye-slash:hover {
  cursor: pointer;
  color: var(--red-primary-color);
}

button:disabled {
  background: #ff7686;
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1151px) {
  img {
    width: 315px;
    height: 200px;
  }

  .content {
    background-image: url("../../../../assets/image/background.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 48px;
    min-height: 100vh;
    max-height: initial;
  }

  .form_input {
    margin: 32px 16px;
  }

  .copyright {
    display: none;
  }

  .ilustration {
    visibility: visible;
  }

  .ilustration img {
    width: 380px;
    height: 300px;
  }
}

/* Desktop */

@media (min-width: 1152px) {
  img {
    width: 192px;
    height: 121px;
  }

  button {
    margin-top: 0;
    width: 100%;
  }

  .content {
    background-image: url("../../../../assets/image/background_desktop.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 112px;
    max-height: 100vh;
  }

  .form_input {
    margin: 16px 16px;
  }

  .copyright {
    display: none;
  }

  .ilustration {
    visibility: visible;
  }

  .ilustration img {
    width: 530px;
    height: 425px;
  }

  .auth_container {
    min-width: 420px;
  }

  .form_input {
    width: 100%;
  }

  .auth_header {
    width: 100%;
  }

  .auth_header {
    margin-left: 16px;
  }
}
