.wrapper_alert {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.alert_container {
  width: 294px;
  background: var(--gray-menu);
  text-align: center;
  border-radius: 25px;
}

.alert_container h1 {
  font-weight: bold;
  font-size: 21px;
}

.alert_container p {
  margin: 16px 0;
}

.alert_container ul li {
  margin: 16px 0;
  cursor: pointer;
}

.alert_container ul li:hover {
  background: var(--gray-menu);
}

.alert_options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.alert_options button:nth-child(1) {
  background: var(--gray-dark-color);
  color: black;
}
button {
  margin-right: 100px;
  font-size: 12px;
}
h2 {
  top: 0;
  position: relative;
  margin-left: 80%;
  font-size: 30px;
  color: var(--red-primary-color);
}
.place {
  display: flex;

  margin: 16px;
}
 .form_input {
   border-radius: 15px;
   margin-top: 0px;
}
input {
    font-weight: bolder;
  }

.time h4{
  margin-top: 25px;
  margin-left: 10px;
  font-weight: bolder;
}


.b1{
    background: var(--green-primary-color);
    font-size: 16px;
}
/* Tablet */

@media (min-width: 768px) and (max-width: 1151px) {
  .alert_container {
    width: 458px;
  }

  .alert_container h1 {
    font-size: 33px;
  }

  .alert_container p {
    font-size: 22px;
  }
  .button{
    margin: 10px  50px;
}
}

/* Desktop */

@media (min-width: 1152px) {
  .alert_container {
    width: 450px;
  }
  .button{
    margin: 10px  60px;
}
}
