table{
    margin: 16px;
    width: 290px;
}
th {
    font-weight: bold;
}
td{
    margin: 10px;
    text-align: center;
}
td i{
    color: var(--red-primary-color);
}
table tbody tr:nth-child(odd) {
    background: var(--gray-table);
  }

/* Tablet */

@media (min-width: 768px) and (max-width: 1151px) {
    table{
        margin: 48px;
        width: 658px;

    }
    th{
        font-size: 25px;
    }
    td{
        font-size: 25px;
    }
}
/* Desktop */
@media (min-width: 1152px) {
  table{
      margin:  30px  150px;
      width: 1060px;
  }  
  th{
    font-size: 25px;
}
td{
    font-size: 25px;
}
}
