.table {
  position: relative;
  margin: 16px;
  width: 90vw;
  overflow-x: scroll;
}

p {
  position: absolute;
  right: 0;
  margin-top: -16px;
  margin-right: 16px;
}

table {
  width: max-content;
  margin: auto;
}

th {
  font-weight: bold;
}
td {
  margin: 10px;
  text-align: center;
}
.text_danger {
  color: var(--red-primary-color);
}
table tbody tr:nth-child(odd) {
  background: var(--gray-table);
}

.icons i {
  font-size: 20px;
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1151px) {
  .table {
    overflow-x: scroll;
    margin: auto;
  }
  table {
    margin: 48px auto;
  }
  th {
    font-size: 25px;
  }
  td {
    font-size: 25px;
  }

  .icons i {
    font-size: 30px;
  }

  p {
    margin-top: -32px;
    margin-right: 32px;
  }
}
/* Desktop */
@media (min-width: 1152px) {
  table {
    width: 95vw;
  }
  th {
    font-size: 25px;
  }
  td {
    font-size: 25px;
  }

  .table {
    margin: 32px;
    width: auto;
    overflow-x: initial;
  }

  p {
    font-size: 20px;
    margin-right: 32px;
  }
}
